/*
font-family: 'Montserrat', sans-serif; - 700
font-family: 'Roboto', sans-serif; - 400, 500, 700
*/
:root{
    --heading-font: 'Roboto', sans-serif;
    --default-font: 'Montserrat', sans-serif;
    --main-color: #fff;
    --secondary-color: #F65282;
    --bg-main-color: #000;
}
/* for the main page */
@media(min-width: 990px){
    .all-together{
        padding: 200px 50px;
    }
}

@media(min-width: 768px){
    .all-together{
        padding:150px 50px;
    }
}

@media (max-width: 768px){
    .hero{
        padding: 100px 10px !important;
    }
}

@media (max-width: 576px){
    h1{
        font-size:40px !important;
        margin: 0 auto !important;
    }

    h2{
        font-size: 15px;
    }

    .main-images{
        text-align: center;
    }

    .all-together{
        margin-top: 0;
        padding: 50px 50px !important;
    }

    .all-together p{
        margin-bottom: 10px !important;
    }

    .hero p{
        font-size: 20px !important;
    }

    .all-together{
        padding: 20px 0px;
    }
}

/* for the about page */
@media(max-width: 576px){
    .about-hero{
        text-align: center;
    }

    .about-hero h1, p{
        margin: 0 10px !important;
    }

    .about-hero h3{
        margin: 100px 10px !important;
    }

    .about-hero h1{
        font-size: 40px !important;
    }

    .about-hero h3{
        font-size: 16px;
        margin-bottom: 0px !important;
    }

    .contact-icon{
        font-size: 20px !important;
    }

    .about-container a{
        margin-left: 0px !important;
    }
}

/* for the contact page */
@media(max-width:576px){
    .info h1{
        margin-bottom: 20px !important;
    }

    .info p{
        margin-bottom: 20px !important;
    }
}

body{
    background-color: var(--bg-main-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--main-color);
}

h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84.38px;
    margin: 30px 30px;
}

h2{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 60px;
}

.main-button{
    color: var(--bg-main-color) !important;
    padding: 18px 30px !important;
    background: var(--main-color) !important;
    border-radius: 50px !important;
}

.hero{
    background-image: url(/rcs/bg-image.jpg);
    text-align: center;
    font-family: var(--default-font) !important;
    font-weight: 700;
    padding: 170px 0px;
    margin-bottom: 30px;
}

.hero p{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
}

.main-images{
    margin: 20px 0px;
    color: var(--main-color);
    font-family: var(--default-font);
    font-weight: 700;
}

 .main-images img{
    margin: 10px 0px;
    border-radius: 10px;
} 

.navigation{
    background-color: transparent !important;
    position: fixed;
}

.navigation a{
    padding: 5px 30px !important;
    color: var(--main-color) !important;
}

.biglink{
    font-family: var(--heading-font);
    font-weight: 500;
}

.minilink{
    margin: 0 30px;
    font-family: var(--heading-font);
}

.container{
    display: flex;
    justify-content: center;
}

.container a{
    text-decoration: none;
    color: var(--secondary-color);
}

.mail-link:hover{
    color: var(--main-color);
}

.icon{
    font-size: 30px;
    color: var(--secondary-color);
    padding: 0px 10px;
}

.about-container{
    display: flex;
    justify-content: space-around;
}

.about-hero{
    font-family: var(--default-font);
    color: var(--main-color);
}

.about-hero img{
    margin: 50px 50px;
}

.about-hero p{
    margin: 0px 50px;
    margin-right: 200px;
}

.about-hero img{
    border-radius: 4px;
    max-width: 80%;
}

.about-hero h1{
    font-size: 64px;
    margin-left: 50px;
}

.about-hero h3{
    font-size: 18px;
    margin-top: 100px;
    margin-left: 50px;
    color:var(--secondary-color);
}

.see-more-button{
    margin-top: 30px;
    margin-left: 50px;
    padding: 14px 28px !important;
}

.info{
    margin-top: 100px;
    text-align: center;
}

.info h3{
    font-size: 14px;
    color: var(--secondary-color);
}

.info p{
    color: var(--main-color);
    font-size: 18px;
    font-family: var(--heading-font);
    font-weight: 400px;
    margin-bottom: 50px
}
